appdirs==1.4.3
certifi==2017.7.27.1
chardet==3.0.4
dj-database-url==0.4.2
Django==1.10.6
django-contrib-comments==1.8.0
django-crispy-forms==1.6.1
django-disqus==0.5
django-markdownx==2.0.21
django-tag-parser==3.1
gunicorn==19.7.1
idna==2.6
Markdown==2.6.9
mock==2.0.0
olefile==0.44
packaging==16.8
pbr==3.1.1
Pillow==8.2.0
psycopg2==2.7.1
pyparsing==2.2.0
python-akismet==0.3.0
requests==2.18.4
six==1.10.0
static3==0.7.0
urllib3==1.22
whitenoise==3.3.1
