
.navbar-default {
    background-color: white;
    border-color: transparent;
    padding-bottom: 50px;
    padding-top: 20px;
}

.nav-font {
    font-family: 'Share Tech Mono', monospace;
    font-size: 26px;

}

.navbar-default .navbar-nav > li > a {
    color: #616266;

}

.navbar-default .navbar-nav > li > a:hover {
    color: steelblue;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}
